.floatLeft {
    float:right !important;
}

.floatRight {
    float:left !important;
}

#login > fieldset > * {
    float: right !important;
}

#register > fieldset > * {
    float: right !important;
}

.maskField {
    margin-left: -259px !important;
    margin-right: 10px !important;
}

#userBar > H1 {
    padding-right: 50px !important;
    padding-left: 0px !important;
}

.mediaTitle {
    text-align: right;
    float: right;
}

li {
    text-align: right !important;
}

#featured > li {
    text-align: center !important;
}

.pages > li {
    text-align: center !important;
}

.box.post .image:first-child {
    margin: -2em -2em 2em 0 !important;
}

#routineName {
    margin-right: 20px;
    margin-left: 20px;
}

table th {
    text-align: right !important;
}

.newsImg {
    padding-right: 0 !important;
    padding-left: 20px !important;
}

.newsRight {
    padding-left:0 !important;
    padding-right: 20px !important;
}

blockquote {
    border-right: solid 4px rgba(144, 144, 144, 0.25) !important;
    border-left:none !important;
}

#header nav > ul > li {
    margin-left: 0 !important;
}

row>* {
    float: right !important;
}

.pod {
    float: right !important;
}

.secondLabel {
    padding: 29px 0px !important;
}